#Made BY Sir_titi 	This is a config file for the radio (dataStorage).
#You can alter these at your liking But at your own risk doing So!
#Mon Feb 15 06:59:24 CET 2021
AllowAutoUpdate=true
IsRepeat=false
Shuffle=false
WasPlaying=false
config_version=1.2
isMouseOverhelp=true
userFolderLink=null
