#Made BY Sir_titi 	This is a config file for the radio (dataStorage).
#You can alter these at your liking But at your own risk doing So!
#Sat Feb 19 02:28:03 CET 2022
AllowAutoUpdate=true
IsRepeat=false
Shuffle=false
WasPlaying=false
config_version=1.2
isMouseOverhelp=true
userFolderLink=null
